<h1>Plan your Trip</h1>
<!-- <p>Find me in app/views/podcasts/index.html.erb</p> -->

<form>
	Starting Point: <br>
	<input type="text" name="start_point">
	<br>
	Ending Point: <br>
	<input type="text" name="end_point">
	<br> <br>
	<button type="button" id="sub_butt"> Submit</button>
</form>


<!-- onclick="initialize();"
 -->

   <div id="duration">Duration: </div> 
   <div id="distance">Distance: </div> 
   <div id="map" style="width: 600px; height: 500px;"></div> 

   <button id="bound_butt"> bound!</button>

<%= form_tag("/search", method: "get") do %>
	<fieldset>
 <legend>What would you like to listen to?</legend> <br>
	<%= hidden_field_tag "durax", "NARNAR" %>
	<%= check_box_tag(:Arts)%> 
	<%= label_tag(:Arts, "Arts") %>
	<%= check_box_tag(:Comedy)%> 
	<%= label_tag(:Comedy, "Comedy") %>
	<%= check_box_tag(:games_and_hobbies)%> 
	<%= label_tag(:games_and_hobbies, "Games and Hobbies") %>
	<%= check_box_tag(:religion_and_spirituality)%> 
	<%= label_tag(:religion_and_spirituality, "Religion & Spirituality") %>
	<%= check_box_tag(:science_and_medicine)%> 
	<%= label_tag(:science_and_medicine, "Science & Medicine") %>
	<%= check_box_tag(:sports_and_recreation)%> 
	<%= label_tag(:sports_and_recreation, "Sports & Recreation") %>
	<%= check_box_tag(:Technology) %>
	<%= label_tag(:Technology, "Technology")%>
	<%= check_box_tag(:tv_and_film)%>
	<%= label_tag(:tv_and_film, "TV & Film")%>
	<br>
	<%= submit_tag("Submit") %>
	<% end %>
</fieldset>




