   <div id = "header div">
         <div id="logo">
         <%= image_tag "bound-logo.png"  %>
      </div>
      <div id="nav-form">
         <nav>
            <ul class="abc">
               
               <li><a href="javascript:void(0);" id="bus"><%= image_tag "metro.png" %></a></li>
               <li><a href="javascript:void(0);" id="car"> <%= image_tag "car.png" %></a></li>
               <li><a href="javascript:void(0);" id="bike"> <%= image_tag "bike.png" %></a></li>
               <li><a href="javascript:void(0);" id="walk"><%= image_tag "walking.png" %></a></li>
            </ul>
          
         </nav>
         <span id="mode">TRANSIT</span>
         <div>
            <form id="startEnd">
               Start Point:
               <input type="text" name="start_point">
               End Point:
               <input type="text" name="end_point">
               <button type="button" id="sub_butt"> Submit</button>
            </form>
         </div>
      </div>
   </div>   

<div id="direction-genre">
   <div id="maps-directions-bar">
      <div id="map" style="width: 500px; height: 400px;"></div>
      <div id="directions"></div>
      <div id="directions-form">
         
      <br>
         <div id="duration-distance"> 
         <br>
         <p id="duration"> Duration: </p> 
         <p id="distance">Distance: </p> 
         </div>
      </div>
   </div>

   <div id="genre-bar">
      <%= form_tag("/search", method: "get") do %>
         <fieldset>
            <legend>What would you like to listen to?</legend>
            <div class="genre_alignment">
              <%= hidden_field_tag "durax", "NARNAR" %>
               <%= check_box_tag(:Arts)%> 
               <%= label_tag(:Arts, "Arts") %>
               <br>
               <%= check_box_tag(:Comedy)%> 
               <%= label_tag(:Comedy, "Comedy") %>
               <br>
               <%= check_box_tag(:gaming)%> 
               <%= label_tag(:gaming, "Gaming") %>
            <br>
            </div>

            <div class="genre_alignment">
               <%= check_box_tag(:religion_and_spirituality)%> 
               <%= label_tag(:religion_and_spirituality, "Religion & Spirituality") %>
               <br>
               <%= check_box_tag(:science_and_medicine)%> 
               <%= label_tag(:science_and_medicine, "Science & Medicine") %>
               <br>
               <%= check_box_tag(:sports)%> 
               <%= label_tag(:sports, "Sports") %>
            <br>
            </div>

            <div class="genre_alignment">

               <%= check_box_tag(:Technology) %>
               <%= label_tag(:Technology, "Technology")%>
               <br>
               <%= check_box_tag(:movies)%>
               <%= label_tag(:movies, "TV & Film")%>
               <br>
               <%= check_box_tag(:Music)%>
               <%= label_tag(:Music, "Music")%>
            </div>
               <br>
               <%= submit_tag("Submit") %>
                <% end %>
         </fieldset>
   </div>

</div>



<!-- Bicycle graphic by <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a> -->

</div>

