<h1>Choose which podcasts to enjoy</h1>


<div>
	<form action= "index" method="get">

		<fieldset>
			<legend>What would you like to listen to?</legend>
	   	<input type="checkbox" name="genre-sports" value="Arts">Arts
	   	<br>
	   	<input type="checkbox" name="genre-basketball" value="Comedy">Comedy
	   	<br>
	   	<input type="checkbox" name="genre-music" value="Games & Hobbies">Games & Hobbies
	   	<br>
	   	<input type="checkbox" name="genre-stories" value="Religion & Spirituality">Religion & Spirituality
	   	<br>
	   	<input type="checkbox" name="genre-stories" value="Science & Medicine">Science & Medicine

	   	<input type="checkbox" name="genre-stories" value="Sports & Recreation">Sports & Recreation

	   	<input type="checkbox" name="genre-stories" value="Technology">Technology

	   	<input type="checkbox" name="genre-stories" value="TV & Film">TV/Film

	   	<input type="submit" value="Submit">
	   	</fieldset>	
   </form>
</div>
=======
   <div>
      <h1>BOUND</h1>
         <div class="logo">
         <%= image_tag "bound-logo.png"  %>
         </div>
   </div>

<form>
   Starting Point: <br>
   <input type="text" name="start_point">
   <br>
   Ending Point: <br>
   <input type="text" name="end_point">
   <br> <br>
   <button type="button" id="sub_butt"> Submit</button>
</form>

<div id="direction-genre">
   <div id="maps-directions-bar">
      <div id="map" style="width: 500px; height: 400px;"></div>
      <div id="directions-form"></div>
      <div id="duration-distance"> </div>
      <p id="duration"> Duration: </p> 
      <p id="distance">Distance: </p> 
   </div>
   <div id="genre-bar">
         <button id="bound_butt"> bound!</button>
     
      <%= form_tag("/search", method: "get") do %>
         <fieldset>
            <legend>What would you like to listen to?</legend>
            <div class="genre_alignment">
              <%= hidden_field_tag "durax", "NARNAR" %>
               <%= check_box_tag(:Arts)%> 
               <%= label_tag(:Arts, "Arts") %>
               <%= check_box_tag(:Comedy)%> 
               <%= label_tag(:Comedy, "Comedy") %>
               <%= check_box_tag(:games_and_hobbies)%> 
               <%= label_tag(:games_and_hobbies, "Games and Hobbies") %>
            <br>
            </div>

            <div class="genre_alignment">
        <%= check_box_tag(:religion_and_spirituality)%> 
         <%= label_tag(:religion_and_spirituality, "Religion & Spirituality") %>
         <%= check_box_tag(:science_and_medicine)%> 
         <%= label_tag(:science_and_medicine, "Science & Medicine") %>
         <%= check_box_tag(:sports_and_recreation)%> 
         <%= label_tag(:sports_and_recreation, "Sports & Recreation") %>
            <br>
            </div>

            <div class="genre_alignment">
         <%= check_box_tag(:Technology) %>
         <%= label_tag(:Technology, "Technology")%>
         <%= check_box_tag(:tv_and_film)%>
         <%= label_tag(:tv_and_film, "TV & Film")%>
         <%= check_box_tag(:Music)%>
         <%= label_tag(:Music, "Music")%>
               <br>
               <%= submit_tag("Submit") %>
               <% end %>
            </div>
         </fieldset>
   </div>
</div>
   

   



