<%if @failed_match %>
  <h1> This sucks: <%= @failed_match %> </h1>	
<% end %>

<% if @podcasts %>
<h1> Here are the <%= @genre_term %> podcasts that fit your trip:</h1>
	<% @podcasts.each do |p| %>
	<p>Title: <%= p.title%></p>
	<p>Duration: <%= p.duration%> minutes</p>
	<p>Genre: <%= p.genre%></p>
	<hr>
	<% end %>
<% end %>




<%= @xpage%>

