<div class="logo">
    <%= image_tag "bound-logo.png"  %>
</div>

<% unless @failed_match  %> 
<h1 id="center-me">Here are the <%= @genre_term %> podcasts that match your query: </h1>
<% end %>

<div id="match">
<%if @failed_match %>
  <h1> This sucks: <%= @failed_match %> </h1>	
<% end %>
</div>

<div class="podcasts">
	<% if @podcasts %>
		<% @podcasts.each do |p| %>
		<p>Title: <%= p.title%></p>
		<p>Duration: <%= p.duration%> minutes</p>
		<p>Genre: <%= p.genre%></p>
		<hr>
		<% end %>
	<% end %>


<% if @results %>
	<% @results.each_with_index do |r, index| %>
	<p>Track Name: <%=r['trackName']%></p>
	<p>Artist Name: <%=r['artistName']%></p>
	<p>Feed Url: <a href="<%=r['feedUrl']%>"> Feedie</a></p>
	<p>Collection View Url: <a href="<%=r['collectionViewUrl']%>"> Artistie </a></p>
	<p>Primary Genre Name: <%=r['primaryGenreName']%></p>
	<p> This pod's duration is <%= @durations[index] %></p>
	<img src="<%=r['artworkUrl100']%>"> 
		<hr>
	<% end %>
<% end %>
</div>

