
<%if @failed_match %>
  <h1> This sucks: <%= @failed_match %> </h1>	
<% end %>

<% if @podcasts %>
<h1> Here are the <%= @genre_term %> podcasts that fit your trip:</h1>
	<% @podcasts.each do |p| %>
	<p>Title: <%= p.title%></p>
	<p>Duration: <%= p.duration%> minutes</p>
	<p>Genre: <%= p.genre%></p>
	<hr>
	<% end %>
<% end %>




<div class="logo">
    <%= image_tag "bound-logo.png"  %>
</div>

<% if @match %>
<h1> Here are the <%= @match %> podcasts that fit your trip:</h1>
<% end %>

<div id="match">
	<%if @failed_match %>
		<%= @failed_match %>
	<% end %>
</div>

<div class="podcasts">
	<% if @podcasts %>
		<% @podcasts.each do |p| %>
		<p>Title: <%= p.title%></p>
		<p>Duration: <%= p.duration%> minutes</p>
		<p>Genre: <%= p.genre%></p>
		<hr>
		<% end %>

	<% end %>
</div>
