<div class="all">
   <div id = "header div">
         <div id="logo">
         <%= image_tag "bound-logo.png", title: "For the podcast-loving commuter: Suggestions that fit your trip time!" %> 

      </div>
      <div id="nav-form">
         <nav>
            <ul class="abc">
               
               <li><a href="javascript:void(0);" id="bus"><%= image_tag "newmetro.png" %></a></li>
               <li><a href="javascript:void(0);" id="car"> <%= image_tag "newcar.png" %></a></li>
               <li><a href="javascript:void(0);" id="bike"> <%= image_tag "newBike.png" %></a></li>
               <li><a href="javascript:void(0);" id="walk"><%= image_tag "newwalk.png" %></a></li>
            </ul>
          
         </nav>
         <span id="mode">TRANSIT</span>
         <div>
            <form id="startEnd">
               Start Address:
               <input type="text" name="start_point">
               End Address:
               <input type="text" name="end_point">
               <button type="button" id="sub_butt"> Submit</button>
            </form>
         </div>
      </div>
   </div>   

<div id="direction-genre">
   <div id="maps-directions-bar">
      <div id="map"></div>
      <div id="directions"></div>

      <div id="directions-form">       
      <br>
         <div id="duration-distance"> 
         <br>
         <p id="duration"> Duration: </p> 
         <p id="distance">Distance: </p> 
         </div>
      </div>
   </div>

   <div id="genre-bar">
      <%= form_tag("/search", method: "get", remote: true) do %>
         <fieldset>
            <legend>What would you like to listen to?</legend>
            <div class="genre_alignment">
              <%= hidden_field_tag "triptime", "no value" %>
               <%= check_box_tag(:Arts)%> 
               <%= label_tag(:Arts, "Arts") %>
               <br>
               <%= check_box_tag(:Comedy)%> 
               <%= label_tag(:Comedy, "Comedy") %>
               <br>
               <%= check_box_tag(:games)%> 
               <%= label_tag(:games, "Gaming") %>
            <br>
            </div>

            <div class="genre_alignment">
               <%= check_box_tag(:Movies)%>
               <%= label_tag(:movies, "Film")%>
               <br>
               <%= check_box_tag(:Religion_and_spirituality)%> 
               <%= label_tag(:religion_and_spirituality, "Religion & Spirituality") %>
               <br>
               <%= check_box_tag(:Health_and_medicine)%> 
               <%= label_tag(:health_and_medicine, "Health & Medicine") %>
               <br>

            </div>

            <div class="genre_alignment">
               <%= check_box_tag(:Sports)%> 
               <%= label_tag(:sports, "Sports") %>
               <br>
               <%= check_box_tag(:Technology) %>
               <%= label_tag(:Technology, "Technology")%>
               <br>
               <%= check_box_tag(:Television)%>
               <%= label_tag(:Television, "TV")%>

            </div>
               <br>
               <%= submit_tag "Submit", id: "show_loader" %>
                <% end %>
         </fieldset>
     </div>
   </div>

<div class='uil-spin-css' style='-webkit-transform:scale(0.98)'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>


</div>



<!-- Bicycle graphic by <a href="https://thenounproject.com/coquet_adrien">tnp_coquet_adrien</a> from <a href="https://thenounproject.com/">TheNounProject</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Check out the new logo that I created on <a href="http://logomakr.com" title="Logo Maker">LogoMaker.com</a> https://logomakr.com/7r4O8H7r4O8H

Car graphic by <a href="https://thenounproject.com/alrigel">tnp_alrigel</a> from <a href="https://thenounproject.com/">TheNounProject</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Check out the new logo that I created on <a href="http://logomakr.com" title="Logo Maker">LogoMaker.com</a> https://logomakr.com/1BU4W01BU4W0

Walk graphic by <a href="http://www.icons8.com">icons8</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Check out the new logo that I created on <a href="http://logomakr.com" title="Logo Maker">LogoMaker.com</a> https://logomakr.com/8q04OD8q04OD

Train graphic by <a href="https://thenounproject.com/stonuiiuntk">tnp_stonuiiuntk</a> from <a href="https://thenounproject.com/">TheNounProject</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Check out the new logo that I created on <a href="http://logomakr.com" title="Logo Maker">LogoMaker.com</a> https://logomakr.com/13MW8n13MW8n
 -->
